.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.envelope {
  display: none;
  font-size: 3.5em;
  align-items: center;
  color: #6b1d57;
}

.imgContainer-footer img {
  width: 50%;
  margin-left: 6em;
}

.menu-footer {
  display: flex;
  justify-content: flex-start;
  font-size: 0.7em;
  flex-wrap: wrap;
}

.menu-footer ol {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;

  height: 100%;
  margin: 0;
  padding: 0;
}

.menu-footer ol li {
  height: inherit;
  padding-top: 0.5em;
  padding-bottom: 0.5em;

  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.menu-footer-text-container1 {
  display: flex;
  justify-content: space-between;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 3em;
}
.menu-footer-text-container2 {
  display: flex;
  justify-content: space-between;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 3em;
  padding-right: 3em;
}

.menu-footer-text-container1 a {
  background-color: transparent;
  display: flex;
  height: inherit;
  color: black;
  text-decoration: none;
  padding: 0 0.4em 0 0.4em;
  margin: 0 1em 0 0.5em;
  align-items: center;
  transition: 0.5s;
  font-size: 1.2em;
  font-weight: bold;
}

.social-container {
  display: flex;
  justify-content: space-between;
  padding-left: 3em;
}
.social-container img {
  margin-right: 3em;
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 767px) {
  .imgContainer-footer {
    display: none;
  }
  .menu-footer-text-container2 {
    display: none;
  }
  .menu-footer {
    width: 100%;
  }

  .menu-footer ol {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    width: 100%;
  }
  .menu-footer-text-container1 {
    font-size: 0.7em;
  }
  #privacyItem {
    display: none;
  }

  .envelope {
    display: flex;
  }
}
@media screen and (max-width: 480px) {
}

@media screen and (max-width: 320px) {
}
