.header{
    display: flex;
    justify-content: space-between;
    padding-top: 1em;
}
.menu{
    width: 70%;
    display: flex;
    justify-content: flex-end;
    font-size:0.8em;
   }
   .menu ol{
       display: flex;
       flex-direction: row;
       justify-content: flex-start;
       list-style:none;
   
       height: 100%;
       margin:0;
       padding: 0;
   }
   
   
   .menu ol li{
     height: inherit;
     padding-top: 0.5em;
     padding-bottom: 0.5em;
     width: 9vw;
     display: flex;
     justify-content: center;
     align-items: center;
     text-transform: uppercase;

   }
   
   .menu ol li a{
       background-color: transparent;
       display: flex;
       height: inherit;
       color: black;
       text-decoration: none;
       padding:0 0.4em 0 0.4em;
       margin: 0 1em 0 0.5em;
       align-items: center;
       transition: 0.5s;
       font-size: 1.2em;
       font-weight: bold;

     }
     .menu ol li a:hover{
  
       color: green;
       border-bottom: 4px solid black;
     }
     .menu ol li button{
        text-transform: uppercase;
        background: white url('../../images/user.svg') no-repeat center left;
        background-position-x: 0.5em;
        padding:0.8em 2em 0.8em 2em;
        border-radius: 0.5em;
        margin: 0em 0em 0em 0em;
        border: 2px solid #6B1D57;
   
     }
  