.search{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding-top:3em;
}
.search-input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
   
}
.search-input input{
    border:0;
    border-bottom: 2px solid black;
    font-weight: bold;
    font-size: 1.2em;
    margin-left: 2em;
    width: 100%;
}
.search-icon{
    display: flex;
    justify-content: space-between;
    font-size: 2em;
    margin-left: 1em;
}

.search-by-time select{
    border:0px;
    outline:0px;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    font-weight: bold;

   
}
.search-by-time{
    margin-left: 3em;
    margin-right: 3em;
    padding-bottom: 0.2em;
    border-bottom: 2px solid rgba(0, 0, 0,0.1);
}

.squares{
   display: block;
   padding: 0;
margin: 0;
}

.square-row{
    display: flex;
   
}

.square-ind{
    background-color: #6B1D57;
    width: 0.8em;
    height: 0.8em;
    margin:0.2em;
}
@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 767px) {
    
   
      
}
@media screen and (max-width: 480px) {

}

@media screen and (max-width: 320px) {

}

