.search2 {
  padding-top: 3em;
  display: flex;
  justify-content: flex-start;
}

.search-by-breed select {
  border: 0px;
  outline: 0px;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  font-weight: bold;
}
.search-by-breed {
  margin-left: 3em;
  margin-right: 3em;
  padding-bottom: 0.2em;
 border:0;
}
.start-container {
  background-color: transparent;
  border-radius: 100%;

}
.check-search {
  margin-left: 9em;
}
.without-margin-left{
    margin-left: 2em;
}
.check-search label {
  margin-left: 1em;
}

.check-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #e0e0e0;
  border-radius: 0.2em;
}

/* On mouse-over, add a grey background color */
.check-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.check-container input:checked ~ .checkmark {
  background-image: linear-gradient(to right, #6b1d57, #33176c);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.check-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.check-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
