body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    outline: none;
    
}
.container {
    /* border: 1px solid red; */
    /*max-width: 1000px;*/
    padding: 0 1em;
    max-width: 90vw ;
    flex: 1;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
    flex-direction: inherit;
  }

  @media screen and (max-width: 1024px) {

}

@media screen and (max-width: 767px) {
    .container {
  
        max-width: 100vw;
       
      }
      
}
@media screen and (max-width: 480px) {

}

@media screen and (max-width: 320px) {

}

